// Mixins in here
.flexbox-row{
    display: flex;
    flex-flow: row nowrap;
}

.flexbox-column{
    display: flex;
    flex-direction: column;
}

.border-mixins{
    border-bottom: 2pt dashed lightgrey;
    padding-bottom: 10px;
}

.button-mixin{
    background-color: rgba(7, 152, 152, 1);
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 2px 2px 7px black;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 15px;
    margin-right: 40px;
    margin-left: 30px;

    &:hover{
        background-color: rgba(13, 132, 145, 1);
    }
}
